@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&display=swap');

@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #{$bg-primary};
    --background-artenative-color: #{$bg-primary-alternative};
    --text-color: #{$text-color};
    --text-content-color: #{$textContent-color};
    --texth-color: #{$texth-color};
    --background-input-color: #{$bg-input-color};
    --brand-text-color: #{$primary-color};
    --border-color: #{$borderSearch};
    --background-avatar-color: #{$bg-avatar-color};
  
    @media (prefers-color-scheme: dark) {
      --background-color: #{$bg-dark-primary};
      --background-artenative-color: #{$bg-dark-primary-alternative};
      --text-color: #{$text-dark-color};
      --text-content-color: #{$textContent-dark-color};
      --texth-color: #{$texth-dark-color};
      --background-input-color: #{$bg-dark-input-color};
      --brand-text-color: #{$primary-dark-color};
      --border-color: #{$borderSearch-dark};
      --background-avatar-color: #{$bg-dark-avatar-color};
    }
}

html, body {
    font-size: 14.4px;
    font-family: $primaryFont;
}
body {
    display: flex
}
@import 'aside';
@import 'content';
@import 'querys';
@import 'keyframe';

// sass -w --style=compressed app.scss ../css/style.min.css
